---
import ActivityFeed from '../components/ActivityFeed.astro';
---
<html>
  <body style="background: #282a36; color: #f8f8f2; padding: 2rem;">
    <h1>Feed Test</h1>
    <ActivityFeed />
  </body>
</html>